              @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

main{
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn{
  width: 70px;
  padding: 3px;
  border: 1px solid rgba(121, 118, 118, 0.728);
  border-radius: 5px;
  font-weight: bold;
  font-size:small;
}

/* Style for the Tracking Initiater begins here */
#tracking-initiater{
  height: 70px;
  width: 80%;
  background-color: rgba(211, 211, 210, 0.525);
  border: 1px solid rgb(188, 185, 185);
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

#start-tracking-container{
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#title-input-box{
  height: 60%;
  text-align: center;
  box-sizing: border-box;
  flex: 3;
  overflow: hidden;
  border: 1px solid rgba(147, 145, 145, 0.829);
  border-radius: 5px;
}

#title-input{
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
}

#initial-time{
  text-align: center;
  flex: 1;
}

#start-btn-box{
  text-align: center;
  flex: 1;
}

#start-btn{
  background-color: rgb(161, 161, 158);
}

/* Style for the Running Tasks container begins here. */
#running-tasks{
  width: 80%;
  background-color: rgba(211, 211, 210, 0.525);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.running-task{
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content-box{
  width: 95%;
  background-color: rgb(63, 191, 63);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
}

.running-task-title{
  text-align: center;
  padding: 5px;
  
}

.timer{
  text-align: center;
  
}

.stop-btn-div{
  margin: 5px;
}

.stop-btn{
  background-color: rgb(241, 35, 35);
}

/* Style for Tasks container begins here. */
#tasks{
  height: 70px;
  width: 80%;
  background-color: rgba(211, 211, 210, 0.525);
  border: 1px solid rgb(188, 185, 185);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.task{
  width: 400px;
  background-color: yellow;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}