              @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color:rgb(233, 235, 238);
}

input{
  outline: none;
}

#main-page{
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btn{
  width: 70px;
  padding: 3px;
  border: 1px solid rgba(121, 118, 118, 0.728);
  border-radius: 5px;
  font-weight: bold;
  font-size:small;
}

#entry-type{
  display: flex;
  margin-top: 10px;
  /* border: 2px solid black;
  border-radius: 15px; */
  overflow: hidden;
}

#entry-type button{
  width: 60px;
}

.auto-btn{
  /* border: 1px solid black; */
  background-color: rgb(88, 88, 88);
  color: white;
}

.manual-btn{
  background-color: rgb(88, 88, 88);
  color: white;
}

.active{
  background-color: rgb(224, 220, 220);
  color: black;
}