              @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

html,
body {
  margin: 0px;
  padding: 0px;
  background-color:rgb(233, 235, 238);
}

header{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: rgba(101, 101, 101, 0.737);
  color: white;
}

#site-title{
  flex: 3;
  padding-left: 25px;
  font-family: sans-serif;
}

header nav{
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-btn{
  border: 1px solid rgba(121, 118, 118, 0.728);
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
}

#main-page{
  width: 90vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

input{
  outline: none;
}

.btn{
  width: 70px;
  padding: 3px;
  border: 1px solid rgba(121, 118, 118, 0.728);
  border-radius: 5px;
  font-weight: bold;
  font-size:small;
}

/* Style for the Tracking Initiater begins here */
#tracking-initiater{
  height: 70px;
  width: 90%;
  max-width: 650px;
  background-color: rgba(211, 211, 210, 0.525);
  border: 1px solid rgb(188, 185, 185);
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  z-index: 1;
}

#start-tracking-container{
  height: 80%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

#title-input-box{
  height: 60%;
  text-align: center;
  box-sizing: border-box;
  flex: 3;
  overflow: hidden;
  border: 1px solid rgba(147, 145, 145, 0.829);
  border-radius: 5px;
  margin-right: 5px;
}

#title-input{
  border: none;
  height: 100%;
  width: 100%;
}

#initial-time{
  text-align: center;
  flex: 1;
}

#start-btn-box{
  text-align: center;
  flex: 1;
}

#start-btn{
  background-color: rgb(161, 161, 158);
}

/* Style for the Manual Task adder container begins here. */

#tracking-initiater-manual{
  width: 90%;
  max-width: 650px;
  background-color: rgba(211, 211, 210, 0.525);
  border: 1px solid rgb(188, 185, 185);
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  z-index: 1;
}
#start-tracking-container-manual{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#title-input-box-manual{
  width: 95%;
  margin: 5px;
  border: 1px solid rgba(147, 145, 145, 0.829);
  border-radius: 5px;
  overflow: hidden;
}

#title-input-manual{
  height: 100%;
  width: 100%;
  border: none;
  padding: 3px;
}

#date-time-container-manual{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

#date-time-container-manual input{
  border: 1px solid rgba(147, 145, 145, 0.829);
  border-radius: 5px;
}

#end-time-input-box-manual{
  margin: 0 5px;
}

#add-btn-box{
  margin: 5px;
}

#add-btn{
  background-color: rgb(161, 161, 158);
}

/* Style for the Running Tasks container begins here. */
#running-tasks{
  width: 100%;
  background-color: rgba(211, 211, 210, 0.525);
  border: 1px solid rgb(188, 185, 185);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
  z-index: 1;
}

.running-task{

  width: 100%;
  border-bottom: 1px solid rgb(195, 195, 195);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

.content-box{
  width: 95%;
  background-color: rgb(214, 214, 208);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.running-task-title{
  padding: 5px;
  padding-left: 25px;
  flex: 4;
  font-size: medium;
  border-bottom: 1px solid rgb(138, 138, 138);
}

.timer{
  text-align: center;
  flex: 2;
  background-color: rgba(0, 255, 0, 0.842);
}

.stop-btn-div{
  margin: 5px;
}

.stop-btn{
  background-color: rgba(253, 25, 25, 0.687);
}

/* Style for Tasks container begins here. */
#tasks{
  width: 100%;
  background-color: rgba(211, 211, 210, 0.525);
  border: 1px solid rgb(188, 185, 185);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  z-index: 1;
}

.task{
  width: 100%;
  background-color: rgb(211, 211, 210);
  border-bottom: 1px solid rgb(163, 163, 163);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.task-title{
  flex: 6;
  padding: 3px;
  background-color: rgba(155, 155, 156, 0.696);
  font-weight:600;
}

.from-to-till{
  flex: 2;
  padding: 5px;
}

.task-date{
  flex: 2;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding: 5px;
}

.total-duration{
  flex: 2;
  padding: 5px;
}

.remove-btn-box{
  flex: 1;
}

.remove-btn{
  font-size: x-small;
}

#chart-div{
  position: absolute;
  top: 50px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 50px);
  z-index: 2;
  background-color: white;
}

.display-none{
  display: none;
}

@media screen and (max-width: 790px) {
  .task{
    flex-direction: column;
    border-right: 1px solid rgb(163, 163, 163);
  }
}

@media screen and (max-width: 290px){
  .task{
    width: 100%;
  }

  #date-time-container-manual{
    flex-wrap: wrap;
  }

  #date-time-container-manual input{
    margin-bottom: 5px;
  }
}